/* General */
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  font-weight: bold;
}

ul, ol{
  list-style: none;
}

a span{
  color: #717171;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
}

a{
  color: #717171;
  text-decoration: none;
  font-size: .9em;
  font-weight: bold;
}

span{
  color: #717171;
  font-size: .7em;
  font-weight: bold;
}

i{
  cursor: pointer;
}
/* General */
/* Utilities */
.bg-dark-grey{
  background-color: #282828;
}
.bg-black{
  background-color: #000000;
}
.bg-light-black{
  background-color: #080b12;
}
.bg-dark-blue{
  background-color: #141922;
}
.card{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.d-flex{
  display: flex;
}

.debug{
  background-color: #7d7f84;
}

.scroll{
  overflow-y: scroll;
}

.p-t-10{
  padding-top: 10px;
}

.p-r-10{
  padding-right: 10px;
}

.p-l-20{
  padding-left: 20px;
}

.p-t-20{
  padding-top: 20px;
}

.p-b-20{
  padding-bottom: 20px;
}

.p-r-20{
  padding-right: 20px;
}

.p-20{
  padding: 20px;
}

.p-r-30{
  padding-right: 30px;
}

.p-l-40{
  padding-left: 40px;
}

.p-r-40{
  padding-right: 40px;
}

.p-t-40{
  padding-top: 40px;
}
.p-40{
  padding: 40px;
}

.card{
  width: calc((100% / 6) - 14px);
  text-align: center;
  min-width: 120px;
}

.card img{
  width: 100%;
  aspect-ratio:  1 / 1;
  object-fit: cover;
}

.active-v{
border-left: 3px solid #bcff33;
}
.active-o::after{
  content: "";
  border: 2px solid #adff2f;
  position: absolute;
  width: 40px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50% , 0);
}

.active-o{
  position: relative;
  top: 0;
  left: 0;
}
/* Utilities */

/* Layout */


header{
  height: 90px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  left: 230px;

}

.main-content{
  margin-top: 90px;
  height: calc(100vh - 180px );
  width: calc(100% - 230px);
  overflow-y: scroll;
}


footer{
  height: 90px;
}

aside{
  width: 230px;
  max-height: calc(100vh - 90px);

}
/* Layout */

/* Header */
header .btn{
  color: white;
  border: 1px solid white;
  border-radius: 300px;
  padding: 1em 2.5em;
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  top:50%;
  right: 3%;
  transform: translate(0, -50%);
  text-align: center;
}

/* Header */

/* Aside */
aside{
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
  justify-content: space-between;

}

aside #logo-small{
  display: none;
  width: 25px;
}

aside #logo-big{
  width: 150px;
  fill: white;
}

aside nav ul{
  flex-direction: column;
}

aside nav img{
  width: 25px;
  color: #717171;
  margin-right: 5px;
  vertical-align:middle;
}

aside nav ul li{
  padding-bottom: 8px;
}

 .playlist i{
  color: #080b12;
  padding: 5px 8px;
  background-color:#717171;
  font-size: 1.8em;
  margin: 20px 5px 20px 0;
  vertical-align: sub;
 }


 .playlist h4{
  text-transform: uppercase;
  font-size: 1em;
 }

 .playlist li{
  line-height: 2.5em;
 }

 ul .container{
  max-height: 200px;
 }

 .playlist li a{
  font-size: .8em;
 }

#dnw{
  width: 20px;
}

#profile{
  width: 25px;
  background-color: gray;
  border-radius: 50%;
}
#dnw, #profile{
  vertical-align: middle;
  margin-right: 8px;
}

.cta  a span{
  font-size: .7em;
}

.cta  a::after{
  content: "";
  display: block;
  border: .5px solid gray;
  width: 90%;
  margin: 10px 0;
}

.profile a span{
  font-size: 1em;
  color: white;
}
/* Aside */

/* Main Content */
.nav-bar{
  margin: 0 auto;
}

.nav-bar ul{
  display: flex;
  gap: 2.45em;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-bar ul li a{
  font-size: .8em;
  text-transform: uppercase;
}

.card-container{
  gap: 16px;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-wrap: wrap ;
  margin: 0 auto;
}

.main-content .img-container{
  position: relative;
  top: 0;
  left: 0;
}

.main-content img{
  cursor: pointer;
}

.main-content h4 a{
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.popular-artist{
  padding-top: 80px;
}

.popular-artist img{
  border-radius: 50%;
}
/* Main Content */

/* Footer */
footer .container{
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

footer .col{
  height: 100%;
}

.col.left{
  width: calc(100% / 6);
  align-items: center;
}

.col.left h4 a{
  color: white;
  font-size: .8em;
}

.col.left h5 a{
  font-size: .7em;
}


.col.left i{
  color: #717171;
}

footer .col img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.col.mid{
  flex-direction: column;
  width: calc(100% / 2);
  text-align: center;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 1;
  color: white;
}

.col.mid i{
  font-size: 1.3em;
  padding: 0 10px;
}

.col.mid i:nth-of-type(3){
  font-size: 2em;
  padding: 0 20px;
}

.bar{
  height: 4px;
  border-radius: 20px;
  background-color: #717171;
}

.col.mid .bar{
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
  position: relative;
  top:0;
  left: 0;
}

.col.mid .bar-hover{
  margin: 0 auto;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background-color: lightgrey;
}

.col.mid small{
  font-size: .7em;
  font-weight: bold;
}

.col.mid small:first-of-type{
  position: absolute;
  top: -6px;
  left: -45px;
}

.col.mid small:last-of-type{
  position: absolute;
  top: -6px;
  right: -45px;
}

.mid .bar::after{
  content: "";
  position: absolute;
  top: -4px;
  left: 20% ;
  width: 12px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.col.right{
  align-items: center;
  width: calc(100% / 6);
  justify-content: flex-end;
}

.col.right i{
  color: white;
  font-size: .9em;
  padding: 0 10px;
}

.col.right .bar{
  width:150px;
  min-width: 100px;
  margin-top: 3px;
  position: relative;
  top: 0;
  left: 0;
}

.col.right .bar-hover{
  height: 4px;
  border-radius: 20px;
  background-color: lightgray;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.col.right .bar::after{
  content: "";
  position: absolute;
  top: -3.5px;
  left: 20% ;
  width: 12px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  display: none;
}
/* Footer */